<div class="conatiner-fluid m-t-2 m-x-1">
  <div class="row">
    <div class="col-md-6">
      <div class="card st-card-status">
        <div class="card-header">
          摄像头
        </div>
        <img class="st-camera" [src]="camera_path">
        <div class="card-footer" [ngClass]="{'bg-success': camera_status == 0, 'bg-info': camera_status == 1}">
          已绑定 -
          <span *ngIf="camera_status == 0">前置</span>
          <span *ngIf="camera_status == 1">后置</span>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card st-card-status">
        <div class="card-header"
          [ngClass]="{'bg-warning': !ntService.robotStatus && ntService.wsStatus, 'bg-info': !ntService.wsStatus}">
          <span *ngIf="!ntService.wsStatus">未连接 - </span>
          <span *ngIf="!ntService.robotStatus && ntService.wsStatus">未连接到机器人 - </span>
          <span *ngIf="ntService.robotStatus">已连接 - </span>
          视觉处理中心 (前部)
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"
              [ngClass]="{'bg-success': status.status == 0, 'bg-warning': status.status == 2, 'bg-info': status.status == 1}"
              *ngFor="let status of statuses">
            <i class="fa fa-check fa-fw" *ngIf="status.status == 0"></i>
            <i class="fa fa-circle-o-notch fa-spin fa-fw" *ngIf="status.status == 1"></i>
            <i class="fa fa-exclamation fa-fw" *ngIf="status.status == 2"></i>
            <span>{{ status.title }}</span>
            <strong>{{ status.info }}</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
